@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.hero {
    background-image: url('../../assets/hero.png'); /* Correct way */
    background-size: cover;
    background-position: center;
    min-height: 100vh;  /* full screen hero */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;

  }



/*     vision section  */

  .vision {
 
  }
  .visionContainer{
    padding: 50px 0; /* top and bottom */
    background-color: #ffffff;
  }
  .sectionTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .visionText {
    font-family: 'Inter', sans-serif;
    font-weight: 400;       /* Regular */
    font-size: 32px;
    line-height: 150%;      /* = 1.5 in CSS */
    letter-spacing: 0;      /* default, but good to be explicit */
    text-align: left;       /* matches your Figma alignment */
    color: #828282;            /* optional: adjust to your design */
  }
  
  /* Vision Image */
  .visionImg {
    max-width: 100%;
    height: auto;
  }

/*     vision section  */
 /* Mission Section */
.mission {
}

.missionContainer {
  background-color: #ffffff;
}

.missionText {
  font-family: 'Inter', sans-serif;
  font-weight: 400;       /* Regular */
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0;
  text-align: left;
  color: #828282;
}

/* Mission Image */
.missionImg {
  max-width: 100%;
  height: auto;
}

/* company sector */

.sectors {
    padding: 60px 0;
    background-color: #ffffff;
  }
  
  .sectionTitle {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #333;
  }
  
  .sectorIcon {
    max-width: 80px;   /* adjust to match your Figma design */
    margin-bottom: 20px;
  }
  
  .sectorText {
    font-size: 1rem;
    font-weight: 400;
    color: #555;
    line-height: 1.5;
  }
  
  


/* Products Section */
.products {
    padding: 60px 0;
    background-color: #fff;
  }
  
  .productCard {
    background: #f8f8f8;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    width: 100%;

    height: 240px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
  /* Wrapper عشان يتحكم في الـ overflow عند الزوم */
  .imageWrapper {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
  }
  
  .productImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease; /* smooth zoom */
  }
  
  .productCard:hover .productImg {
    transform: scale(1.1); /* zoom in فقط */
  }
  
  .productText {
    padding: 10px;
    font-size: 1rem;
    color: #d32f2f;
    font-weight: 600;
  }
  